@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Lato", sans-serif;
}

:root {
    --red: #E73725;
    --light-gray: #d6d6d6;
    --dark-gray: #414141;
    --almost-black: #272626;
    --almost-white: #f3f3f3;
    --white: #fff;
}

td {
    padding: .5rem;
  }

tr td:nth-child(1) {
    text-align: end;
    font-weight: 600;
}

.h2h td:nth-child(1), .h2h td:nth-child(3) {
    width: 40%;
}

.h2h td:nth-child(2) {
    width: 20%;
}
  
tr td:nth-child(2) {
    text-align: center;
    margin: 0 12px
}

tr td:nth-child(3) {
    font-weight: 600;
}

.arrow.toggled {
    transform: scaleY(-1);
}

.adv-stats.toggled {
max-height: 22rem;
transition: .2s ease-out;
}

.bet-stats.toggled {
    max-height: 12.5rem;
    transition: .2s ease-out
}

.adv-stats td {
    color: var(--almost-white)
}

.adv-stats td:nth-child(2),
.bet-stats td:nth-child(2) {
  width: 50%;
  margin: 0 1rem;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@media (max-width: 768px) {
    .adv-stats.toggled {
        max-height: 26rem;
    }
        
    .bet-stats.toggled {
        max-height: 12.5rem;
    }

    .filter-bar {
        position: fixed;
        border-radius: 0;
        padding-top: 64px;
        width: 80%;
        height: 100vh;
        left: -80%;
        z-index: 2;
        transition: all .3s ease-in-out;
    }
    
    .filter-bar.opened {
    left: 0
    }

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        height: 80px;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 3px 3px 5px var(--light-gray);
    }
    
    .hamburger {
    position: fixed;
    display: block;
    z-index: 3;
    top: 24px;
    left: 24px;
    }
    
    .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--almost-black);
    border-radius: 8px;
    transition: all .3s ease-in-out;
    }

    .hamburger.opened .bar:nth-child(2) {
    opacity: 0;
    }

    .hamburger.opened .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    }

    .hamburger.opened .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    }

    .dimmer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--almost-black);
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: all .3s ease-in-out;
    }

    .dimmer.opened {
    opacity: .8;
    }
}

@media (max-width: 360px) {
    label {
        font-size: .85rem
    }
}