@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --red: #E73725;
    --light-gray: #d6d6d6;
    --dark-gray: #414141;
    --almost-black: #272626;
    --almost-white: #f3f3f3;
    --white: #fff;
}

table {
    margin: .5rem 1rem 1rem 1rem
}

td {
    padding: .5rem;
  }

tr td:nth-child(1) {
    text-align: end;
    font-weight: 600;
}

.h2h td:nth-child(1), .h2h td:nth-child(3) {
    width: 40%;
}

.h2h td:nth-child(2) {
    width: 20%;
}
  
tr td:nth-child(2) {
    text-align: center;
    margin: 0 12px
}

tr td:nth-child(3) {
    font-weight: 600;
}

.arrow.toggled {
    transform: scaleY(-1);
}

.adv-stats.toggled {
max-height: 22rem;
transition: .2s ease-out;
}

.bet-stats.toggled {
    max-height: 12.5rem;
    transition: .2s ease-out
}

.adv-stats td {
    color: var(--almost-white)
}

.adv-stats td:nth-child(2),
.bet-stats td:nth-child(2) {
  width: 50%;
  margin: 0 1rem;
}

.adv-stats tr:nth-child(2),
.adv-stats tr:nth-child(4),
.adv-stats tr:nth-child(6),
.adv-stats tr:nth-child(8) {
  background-color: var(--almost-black);
}

.bet-stats tr:nth-child(2),
.bet-stats tr:nth-child(4) {
  background-color: var(--almost-white);
}